<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NTUBank Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <script src="https://account.snatchbot.me/script.js"></script>
    <script>window.sntchChat.Init(399474)</script> 
    <div class="container">
        <div class="left-image">
            <img src="https://www.ntu.edu.sg/images/default-source/cco-images/the-hive-select-4-min-min9b752fe7-c4ac-48f1-baed-c83ee71d9c2d.jpg?sfvrsn=f59fa13a_3">
        </div>
        <div class="form-section half-width">
            <div class="form-header">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f8/Nanyang_Technological_University_coat_of_arms_vector.svg/1200px-Nanyang_Technological_University_coat_of_arms_vector.svg.png" class="logo" alt="Logo">
                <h2>NTUBank</h2>
            </div>
            <h2 class="section-title">Login to your account</h2>
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
            <form method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit" class="btn-primary">Login</button>
            </form>
            <form action="/register" method="get">
                <button type="submit" class="btn-secondary">Register</button>
            </form>
        </div>
    </div>
</body>
</html>